<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Login</h5>

                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" @bind="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" @bind="password" required>
                    </div>
                    <button class="btn btn-primary w-100" @onclick="HandleLogin">Login</button>

                    <div class="mt-3">
                        <div class="form-group">
                            <label for="token">Token</label>
                            <textarea class="form-control" id="token" rows="5" @bind="token" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-success w-100" @onclick="GetWeather" disabled="@(token == null || token == "")">GetWeather</button>
                    <br />

                    @if (forecasts != null)
                    {
                        <ul>
                            @foreach (var forecast in forecasts)
                            {
                                <li>@forecast.Date: @forecast.TemperatureC °C - @forecast.Summary</li>
                            }
                        </ul>
                    }
                    <br />

                    @if (error)
                    {
                        <div class="alert alert-danger" role="alert">
                            @error_message
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


